@{
    var date = DateTime.Now.ToString("MMdd");
    ViewBag.Title = "收藏";
}
<link href="~/Content/Keep.css?@date"type="text/css" rel="stylesheet" />
<link href="~/Content/MemberList.css?@date" type="text/css" rel="stylesheet" /> 
<script src="~/Scripts/Keep.js?@date" defer></script>
<script>
    let e = @Html.Raw(ViewBag.json);
</script>
<div id="alert"></div>
<div class="container">
    <div class="row" style="padding-top:30px">
        <div class="U list-group list-group-horizontal">
            <a href="@Url.Action("OrderVIew","members")" class="L list-group-item"><span>我的訂單</span></a>
            <a class="L list-group-item active"><span>我的收藏</span></a>
            <a class="L list-group-item" href="@Url.Action("Location","store")">設定取貨門市</a>
            <a class="L list-group-item" href="@Url.Action("MemberCenter","members")">修改會員資料</a>
            <a class="L list-group-item" href="@Url.Action("EditPsw","members")">修改密碼</a>
        </div>
    </div>
</div>
<hr />

<ul id="Father" style="margin:0;">
</ul>

