@using Asp.net_Exercise.Models
@model Member
@{
    var date = DateTime.Now.ToString("MMdd");
    ViewBag.Title = "會員中心";
}
<link href="~/Content/MemberList.css?@date" rel="stylesheet" type="text/css" />
<script>
    $(() => {
        let err = "@TempData["CartError"]", er = "@TempData["EditErrorMessage"]", status = @ViewBag.status, msg = Cookies.get("msg");
        (err) ? $("#alert").text(err).show().delay(3000).fadeOut() : (er) ? $("#alert").text(er).show().delay(3000).fadeOut() : null;
        (status == 0) ? null : $("#psw").attr("placeholder", "Google(Facebook)帳戶請設定密碼");
        $("#psw").val("");
        (msg) ? $("#alert").text(msg).show().delay(3000).fadeOut() : null;
    })
</script>


<div class="container">
    <div class="row" style="padding-top:30px">
        <div class="U list-group list-group-horizontal">
            <a href="@Url.Action("OrderVIew","members")" class="L list-group-item"><span>我的訂單</span></a>
            <a href="KeepView" class="L list-group-item"><span>我的收藏</span></a>
            <a class="L list-group-item" href="@Url.Action("Location","store")">設定取貨門市</a>
            <a class="L list-group-item active">修改會員資料</a>
            <a class="L list-group-item" href="@Url.Action("EditPsw","members")">修改密碼</a>
        </div>
    </div>
</div>
<div id="alert"></div>
<hr />

<form action="/members/membercenter" method="post" style="width:60%;margin:auto;">
    @Html.AntiForgeryToken()
    <div class=" form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @required = true })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger", @placeholder = "範例:0912345678" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">取貨門市</label>
            <div class="col-md-10">
                @if (ViewBag.Store != null)
                {<input class="form-control" readonly value="@ViewBag.Store" /> }
                else
                {<input class="form-control" readonly value="尚未選取取貨門市" />}
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(GenderSelect)), new { @class = "form-control" }))
            </div>
        </div>

        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">請輸入密碼</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", @id="psw", @required = true, @autocomplete = "new-password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="submit" class="col-md-offset-2 btn btn-default" />
    </div>
</form>