@model Member
@using Asp.net_Exercise.Models

@{
    var date = DateTime.Now.ToString("MMdd");
    ViewBag.Title = "註冊";
}

<link href="~/Content/MemberList.css?@date" rel="stylesheet" type="text/css" />
<script>
    $(() => {
        let e = "@ViewBag.MemberErrorMessage";
        (e) ? $("#alert").text(e).show().delay(3000).fadeOut(): null;
    })
</script>


<h3 class="col-md-offset-2">註冊</h3>
<div id="alert"></div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required = true })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @required = true, @placeholder = "範例:0912345678" })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-offset-2 col-md-6">因有信箱驗證機制如不想驗證請直接前往登入頁面使用測試帳號登入</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", @required = true, @autocomplete = "new-password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">確認密碼</label>
            <div class="col-md-10">
                <input type="password" class="form-control" name="check" required />
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(GenderSelect))), new { @class = "form-control" })
            </div>
        </div>

        <input type="submit" value="註冊" class="btn btn-default col-md-offset-2" />
    </div>
}
