@model Asp.net_Exercise.Models.Member
@using Asp.net_Exercise.Models

@{
    ViewBag.Title = "Lativ-註冊";
}




<h3 class="col-md-offset-2">註冊</h3>
<h4 class="col-md-offset-2 text-danger">@ViewBag.MemberErrorMessage</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">確認密碼</label>
            <div class="col-md-10">
                <input type="password" class="form-control" name="check" required />
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(GenderSelect))), new { @class = "form-control" })
            </div>
        </div>

        <input type="submit" value="註冊" class="btn btn-default col-md-offset-2" />
    </div>
}
